// Základné farby a štýly
$background-color: #f4f4f4;
$primary: #333;
$button-hover-color: #06402b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
    color: $primary;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    color: $primary;
    z-index: 1000;

    .logo {
        display: flex;
        
        img {
            height: 50px;
        }
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;

        li a {
            color: $primary;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;

            &:hover {
                color: lighten($button-hover-color, 10%);
            }
        }
    }

    .hamburger {
        display: none;

        span {
            display: none;
        }
    }

    // Responzívny štýl pre menšie obrazovky
    @media (max-width: 768px) {
        .hamburger {
            display: flex;
            flex-direction: column;
            gap: 4px;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2000;
            margin-left: auto;

            span {
                display: block;
                width: 30px;
                height: 3px;
                background-color: white;
                transition: all 0.3s;
            }
        }

        .nav-links {
            display: none;
            flex-direction: column;
            gap: 1rem;
            background: rgba(42, 123, 141, 0.9);
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 1rem;
            text-align: center;

            li {
                margin: 0.5rem 0;
            }

            &.active {
                display: flex;
            }
        }
    }

    .open {
        span:first-child {
            transform: rotate(45deg) translate(5px, 5px);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:last-child {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }
}

// Hero sekcia
.hero {
    position: relative;
    text-align: center;
    height: 100vh;

    @media (max-width: 480px) {
        height: 80vh;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -1px;
        height: 100px;
        width: 100vw;
        background-color: #671d48;
        clip-path: polygon(0% 50%, 0% 0%, 50% 50%, 50% 50%, 100% 0%, 100% 100%, 0% 100%);
        z-index: 1;
    }

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;

        @media (max-width: 480px) {
            height: 80vh;
        }
    }

    p {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 1rem;
        }

        @media (max-width: 480px) {
            font-size: 0.8rem;
        }

        &::after {
            content: '';
            background: url(../assets/images/arrow.png);
            width: 20px;
            height: 30px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            margin: 0 auto;
        }
    }
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: $primary;
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 36px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
        background-color: $button-hover-color;
        border-color: $button-hover-color;
        color: white;
    }

    @media (max-width: 768px) {
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
    }

    @media (max-width: 480px) {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
    }
}

// Sekcie
.info, .photos, .reservation {
    padding: 2rem;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }

        @media (max-width: 480px) {
            font-size: 1.2rem;
        }
    }

    p, a {
        margin-bottom: 1rem;

        @media (max-width: 480px) {
            font-size: 0.9rem;
        }
    }

    a {
        color: $button-hover-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        padding: 1.5rem;
    }

    @media (max-width: 480px) {
        padding: 1rem;
    }
}

.info {
    background-image: url(../assets/images/bg.jpg);
    color: white;
    padding-top: 80px;
    padding-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    p {
        max-width: 800px;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    img {
        width: 200px;
    }
}

// Footer
footer {
    background-color: $button-hover-color;
    color: white;
    text-align: center;
    padding: 1rem 0;

    p {
        font-size: 0.9rem;

        @media (max-width: 480px) {
            font-size: 0.8rem;
        }
    }
}

.instagram-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  
    .instagram-post {
      position: relative;
      overflow: hidden;
      transform: rotate(calc(-3deg + 6deg * random(1, -1)));
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.1) rotate(0);
      }
  
      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
      }
    }
  }
  